In [1]:
# https://www.kaggle.com/netssfy/learning-curve
# https://medium.com/i-like-big-data-and-i-cannot-lie/how-i-scored-in-the-top-9-of-kaggles-titanic-machine-learning-challenge-243b5f45c8e9
import re
import pandas as pd
import numpy as np

pd.set_option('display.width', None)

In [5]:
dat = pd.read_csv("../local-data/input/train.csv")
dat.shape

(891, 12)

In [12]:
df = dat.copy()

In [13]:
# drop Ticket
df = df.drop(['Ticket'], axis=1)

In [14]:
df['Cabin'].value_counts(normalize=True)

G6             0.019608
C23 C25 C27    0.019608
B96 B98        0.019608
F2             0.014706
E101           0.014706
                 ...
A14            0.004902
D6             0.004902
C111           0.004902
B94            0.004902
A19            0.004902
Name: Cabin, Length: 147, dtype: float64

In [11]:
# modify Cabin
df['Cabin'] = df['Cabin'].fillna('U')
df['Cabin'] = df.Cabin.str.extract('([A-Za-z])', expand=False)

# df['Cabin'] = df['Cabin'].map({'A': 0, 'B': 0, 'C': 0, 'D': 0, 'E': 0,
#                                          'F': 0, 'G': 0, 'T': 0, 'U': 1}).astype(int)
df['Cabin'].value_counts(normalize=True)

U    0.771044
C    0.066218
B    0.052750
D    0.037037
E    0.035915
A    0.016835
F    0.014590
G    0.004489
T    0.001122
Name: Cabin, dtype: float64

In [16]:
# obtain Title from name (Mr, Mrs, Miss etc)
df['Title'] = df.Name.str.extract(' ([A-Za-z]+)\.', expand=False)
df['Title'].value_counts(normalize=True)

Mr          0.580247
Miss        0.204265
Mrs         0.140292
Master      0.044893
Dr          0.007856
Rev         0.006734
Major       0.002245
Col         0.002245
Mlle        0.002245
Mme         0.001122
Sir         0.001122
Ms          0.001122
Lady        0.001122
Don         0.001122
Countess    0.001122
Jonkheer    0.001122
Capt        0.001122
Name: Title, dtype: float64

In [18]:
df['Title'] = df['Title'].replace(['Lady', 'Countess', 'Dona'],'Royalty')
df['Title'] = df['Title'].replace(['Mme'], 'Mrs')
df['Title'] = df['Title'].replace(['Mlle','Ms'], 'Miss')
df['Title'] = df['Title'].replace(['Capt', 'Col', 'Major','Rev'], 'Officer')
df['Title'] = df['Title'].replace(['Jonkheer', 'Don','Sir'], 'Royalty')
# dataset.loc[(dataset.Sex == 'male')   & (dataset.Title == 'Dr'),'Title'] = 'Mr'
# dataset.loc[(dataset.Sex == 'female') & (dataset.Title == 'Dr'),'Title'] = 'Mrs'
df['Title'].value_counts(normalize=True)

Mr         0.580247
Miss       0.207632
Mrs        0.141414
Master     0.044893
Officer    0.012346
Dr         0.007856
Royalty    0.005612
Name: Title, dtype: float64

In [ ]:
# Covert 'Title' to numbers (Mr->1, Miss->2 ...)
title_mapping = {"Mr": 1, "Miss": 2, "Mrs": 3, "Master": 4, "Royalty": 5, "Officer": 6}
# df['Title'] = df['Title'].map(title_mapping)
# df['Title'] = df['Title'].fillna(0)

In [ ]:
# Remove 'Name' and 'PassengerId' in training data, and 'Name' in testing data
train_df = train_df.drop(['Name', 'PassengerId'], axis=1)
test_df = test_df.drop(['Name'], axis=1)
combine = [train_df, test_df]

In [ ]:
# TODO xtab title-age
# if age < 16, set 'Sex' to Child
# df.loc[(df.Age < 16), 'Sex'] = 'Child'

In [ ]:
# Covert 'Sex' to numbers (female:1, male:2)
# df['Sex'] = df['Sex'].map({'female': 1, 'male': 0, 'Child': 2}).astype(int)

In [ ]:
# Guess age values using median values for age across set of Pclass and gender frature combinations
# df['Age'] = (df.groupby(['Sex', 'Pclass'])['Age']
#              .transform(lambda x: x.fillna(x.mean())).astype(int))

In [ ]:
# create Age bands and determine correlations with Survived
train_df['AgeBand'] = pd.cut(train_df['Age'], 5)
train_df[['AgeBand', 'Survived']].groupby(['AgeBand'], as_index=False).mean().sort_values(by='AgeBand', ascending=True)

dataset.loc[ dataset['Age'] <= 16, 'Age'] = 0
dataset.loc[(dataset['Age'] > 16) & (dataset['Age'] <= 32), 'Age'] = 1
dataset.loc[(dataset['Age'] > 32) & (dataset['Age'] <= 48), 'Age'] = 2
dataset.loc[(dataset['Age'] > 48) & (dataset['Age'] <= 64), 'Age'] = 3
dataset.loc[ dataset['Age'] > 64, 'Age'] = 4

train_df = train_df.drop(['AgeBand'], axis=1)
combine = [train_df, test_df]
train_df.head()

print(train_df.head())

In [ ]:
# Create family size from 'sibsq + parch + 1'
dataset['FamilySize'] = dataset['SibSp'] + dataset['Parch'] + 1

train_df[['FamilySize', 'Survived']].groupby(['FamilySize'], as_index=False).mean().sort_values(by='Survived', ascending=False)

In [ ]:
# create another feature called IsAlone
dataset['IsAlone'] = 0
dataset.loc[(dataset['FamilySize'] == 1), 'IsAlone'] = 1
dataset.loc[(dataset['FamilySize'] > 4),  'IsAlone'] = 2

train_df[['IsAlone','Survived']].groupby(['IsAlone'], as_index=False).mean()

In [ ]:
# Drop Parch, SibSp, and FamilySize features in favor of IsAlone
train_df = train_df.drop(['Parch', 'SibSp', 'FamilySize'], axis=1)
test_df = test_df.drop(['Parch', 'SibSp', 'FamilySize'], axis=1)
combine = [train_df, test_df]
train_df.head()

In [ ]:
# Create an artfical feature combinbing PClass and Age.
dataset['Age*Class'] = dataset.Age * dataset.Pclass
train_df.loc[:, ['Age*Class', 'Age', 'Pclass']].head()

In [ ]:
# fill the missing values of Embarked feature with the most common occurance
freq_port = train_df.Embarked.dropna().mode()[0]
dataset['Embarked'] = dataset['Embarked'].fillna(freq_port)
train_df[['Embarked', 'Survived']].groupby(['Embarked'], as_index=False).mean().sort_values(by='Survived', ascending=False)
dataset['Embarked'] = dataset['Embarked'].map( {'S': 0, 'C': 1, 'Q': 2} ).astype(int)

In [ ]:
# fill the missing values of Fare
test_df['Fare'].fillna(test_df['Fare'].dropna().median(), inplace=True)

In [ ]:
# Create FareBand
train_df['FareBand'] = pd.qcut(train_df['Fare'], 4)
train_df[['FareBand', 'Survived']].groupby(['FareBand'], as_index=False).mean().sort_values(by='FareBand', ascending=True)

In [ ]:
# Convert the Fare feature to ordinal values based on the FareBand
dataset.loc[ dataset['Fare'] <= 7.91, 'Fare'] = 0
dataset.loc[(dataset['Fare'] > 7.91) & (dataset['Fare'] <= 14.454), 'Fare'] = 1
dataset.loc[(dataset['Fare'] > 14.454) & (dataset['Fare'] <= 31), 'Fare']   = 2
dataset.loc[ dataset['Fare'] > 31, 'Fare'] = 3
dataset['Fare'] = dataset['Fare'].astype(int)
train_df = train_df.drop(['FareBand'], axis=1)

In [ ]:
# train_df.to_csv("/home/vagrant/vmtest/kaggle-titanic/local-data/titanic-train-clean.csv", index=False)
# test_df.to_csv("/home/vagrant/vmtest/kaggle-titanic/local-data/titanic-test-clean.csv", index=False)